@import 'tailwindcss';

@layer base {
  html {
    height: 100%;
    overflow: hidden;
    @apply bg-neutral-950 text-white antialiased;
  }

  body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    @apply bg-neutral-950 text-white;
  }

  #root {
    height: 100vh;
    overflow: hidden;
  }
}
