@tailwind base;
@tailwind components;
@tailwind utilities;

  .swiper-slide {
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  .swiper-slide-active {
    transform: scale(1.08);
    z-index: 10;
  }
  .swiper-slide-prev,
  .swiper-slide-next {
    transform: scale(0.9);
    opacity: 0.8;
  }

  